# Ignore compiled executables
*.exe
*.out
*.app


# Ignore binaries named like problem codes (no extension)
[0-9]*

# Ignore object files
*.o
*.obj

# Ignore temp files
*.tmp
*.log

# Ignore VS Code folder
.vscode/

# Ignore build folders
build/
bin/
