# Ignore compiled executables
*.exe
*.out
*.app

# tis gonna help in removing files without extension
*
!/**/
!*.*
!README
!LICENSE




# Ignore object files
*.o
*.obj

# Ignore temp files
*.tmp
*.log

# Ignore VS Code folder
.vscode/

# Ignore build folders
build/
bin/
